@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans|Barlow|Dosis');

* {
  font-family: 'Barlow', sans-serif;
  list-style: none;
  margin: 0; padding: 0;
}

html, body{
    margin:0;
    padding:0;
    min-width: 1140px; /* this is the important part*/
}


.logo {
    height:100px;
}

header {
display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width:100%;
    background-color: #ffffff;
    height:100px;
    
    
}

.navigation {
    display:flex;
    justify-content: space-between;
    width:500px;
    align-content: center;
    padding-bottom: :40px;
    
}
.nav-site {
    display: flex;
    justify-content: space-around;
     width:400px;
    margin-top: 30px;
}   

.social {
  display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  padding-top: 30px;  
    width:100px;
}



.banner {
  background: url('../img/header.jpg');
  background-repeat: no-repeat;
    background-attachment: fixed;
    height:600px;
    margin-top: 0px;
    
}

h1 {
    color: white;
    font-size:50px;
    
    
}


