@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans|Barlow|Dosis');

* {
  font-family: 'Barlow', sans-serif;
  list-style: none;
  margin: 0; padding: 0;
}

html, body{
    margin:0;
    padding:0;
    
}

a {
    text-decoration: none;
}


.logo {
    height:100px;
    padding-left: 30px;
}

header {
display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width:100%;
    background-color: #ffffff;
    height:100px;
    
    
}

.navigation {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width:500px;
    align-content: center;
    padding-bottom: :40px;
    margin-top:40px;
    
}

.button-nav {
    color:#171717;
    letter-spacing: normal;
    text-transform: uppercase;
    font-weight: 800;
    font-size:14px;
    text-align:start;
}

.social {
    margin-right: 40px;
    justify-content: space-around;
}


.fa {
  color: #d2d2d3;
    font-size:16px;
    letter-spacing: normal;
    text-align: start;
    padding-left: 10px;
}



.banner {
  background:  linear-gradient(rgba(35, 50, 55, 0), rgba(152, 75, 67, 0.7)), url('../img/header.jpg');
  background-repeat: no-repeat;
    background-attachment: fixed;
    height:550px;
    margin-top: 0px;
 
    
}

h1 {
    color: white;
    font-size:50px;
    
    
}


