@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans|Barlow|Dosis');

* {
  font-family: 'Barlow', sans-serif;
  list-style: none;
  margin: 0; padding: 0;
}

html, body{
    margin:0;
    padding:0;
    background-color: #233237;
    
}

a {
    text-decoration: none;
}


.logo {
    height:100px;
    padding-left: 30px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
      justify-content: space-between;
}

header {


  
     background:   linear-gradient(90deg, rgba(0,0,0,0.5214460784313726) 0%, rgba(61,61,65,0.45702030812324934) 51%, rgba(0,0,0,1) 100%), url('../img/header.jpg');
  height: 950px;
   background-size: cover;
     width: 100%;
}

.navigation {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width:500px;
    align-content: center;
    padding-bottom: :40px;
    margin-top:40px;
     
}

.button-nav {
    color:#EAC67A;
    letter-spacing: normal;
    text-transform: uppercase;
    font-weight: 800;
    font-size:16px;
    text-align:start;
}

.social {
    margin-right: 40px;
    justify-content: space-around;
}


.fa {
  color: #d2d2d3;
    font-size:16px;
    letter-spacing: normal;
    text-align: start;
    padding-left: 10px;
}



.typed-center {
    padding-top: 300px;
    text-align: center;
}

#typed {
    color: whitesmoke;
    font-size:50px;
   
   
}

.typed-cursor {
    font-size:50px;
    color: whitesmoke;
     
}


